@import "tailwindcss";

@theme {
  --color-primary: #00a884;
  --color-primary-hover: #008f6f;
  --color-chat-light: #efeae2;
  --color-chat-dark: #0b141a;
  --color-bubble-user: #d9fdd3;
  --color-bubble-user-dark: #005c4b;
  --color-bubble-receiver: #ffffff;
  --color-bubble-receiver-dark: #202c33;
  --color-brand-blue: #027eb5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.1);
  border-radius: 10px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
